# Install our webserver packages
---
- name: Install webserver packages
  apt: name={{ item }} state=present
  with_items:
    - apache2
      #    - apache2-mpm-prefork
    - apache2-utils
      #    - apache2.2-common
    - libapache2-mod-php5
    - libapr1
    - libaprutil1
    - libdbd-mysql-perl
    - libdbi-perl
    - libnet-daemon-perl
    - libpq5
      #    - mysql-client-5.5
    - mysql-client
    - php5-common
    - php5-mysql

- name: Making sure apache is running, and enabled for boot-time start
  service: name=apache2 state=started enabled=yes
